@model GameSystem.Models.Msg

@{
    ViewBag.Title = "新增信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div id="clink">
        <img src="/img/icon_home2.png" />
        <a href="/Home/Index">首页</a>  >> 新增信息</a>
    </div>
    <!--新增信息-->
    <div style="color: red">@TempData["msg"]</div>
    @using (Html.BeginForm("Create", "Msg", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })<hr />
            <div class="form-group">
                @Html.LabelFor(model => model.MsgTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MsgTitle, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MsgTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MsgText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.MsgText, 4,100,new { htmlAttributes = new { @class = "form-control"  } })
                    @Html.ValidationMessageFor(model => model.MsgText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MsgType, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.MsgType, new SelectList(new[] { "新闻公告", "视频图片", "英雄档案" }), new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MsgType, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MsgPhoto, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="photo" id="photo" />
                    @Html.ValidationMessageFor(model => model.MsgPhoto, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value=" 新增 " class="btn btn-default"  style="background-color:#C9C" />
                </div>
            </div>
        </div>
    }
    <div>
        <hr /> @Html.ActionLink("返回列表", "Index")
    </div>
</div>